@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Italianno|Lobster|Niconne|Pacifico|Quicksand');

// font-family: 'Calligraffitti', cursive;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Niconne', cursive;
// font-family: 'Italianno', cursive;

*{
    margin: 0;
    padding: 0;
}

body{
    background: #111 !important;
    font-family: 'Hind Vadodara', sans-serif;
}
// Default settings
// blue theme ---------------//
// $dark: #0D47A1;
// $primary: #1565C0;
// $xlight: #1976D2;
// $secondary: #094c80;
// $light: #BBDEFB;
// $xxlight: #90CAF9;
// blue theme ---------------//

$dark: #8e0038;
$primary: #c51162;
$secondary: #ec407a;
$light: #fd558f;
$xlight: #ffffff;
$black: #000000;
$gray: #cccccc;


$calligraffitti: 'Calligraffitti', cursive;
$quicksand: 'Quicksand', sans-serif;
$lobster: 'Lobster', cursive;
$pacifico: 'Pacifico', cursive;
$niconne: 'Niconne', cursive;
$italianno: 'Italianno', cursive;

.btn-danger{
    background: $primary !important;
    border: $primary !important;
    border-radius: 0px !important;
}
.btn-outline-danger{
    background: $dark !important;
    border-radius: 0px !important;
    color: $xlight !important;
    &:hover{
        background: $primary !important;
    }
}
.form-control{
    border-radius: 0px !important;
    }
$phones: "(max-width: 575px)";
$min_phones: "(min-width: 576px)";
$max_phones: "(max-width: 767px)";
$min_tablets: "(min-width: 768px)";
$max_tablets: "(max-width: 991px)";
$min_desktops: "(min-width: 992px)";
$max_desktops: "(max-width: 1199px)";
$large_device: "(min-width: 1200px)";

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575px) { }

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767px) {  }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991px) {  }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199px) {  }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {  }

@media #{$phones}{
    .dn{
        display: none;
    }
}
//mixin

@mixin animate-duration($duration) {
       animation-duration: $duration;
}
@mixin animate-delay($delay) {
    animation-delay: $delay;
}
@for $i from 1 through 5 {
    .duration-#{$i} { @include animate-duration(500ms * $i); }
}
@for $i from 1 through 5 {
    .delay-#{$i} { @include animate-delay(500ms * $i); }
}

h1{color: $primary !important;
}
h2{
    color: $xlight !important;
    font-family: $lobster;
}
h3{
    color: $xlight !important;
    font-family: $lobster;
}
p{color: $xlight !important;}

// Custom Style
.sub-header{
    position: fixed;
    left: 50px;
    top: 50px;
    height: 200px;
    .logo{
        a{
            text-decoration: none;
        }
        img{
            width: 200px !important;
        }
        h3{
            text-align: left !important;
            font-size: 20px;
            text-decoration: none;
        }
    }
}
.header{
    text-align: center;
    @media #{$max_tablets} {
        position: initial;
    }
    .logo{
        img{
            width: 300px;
        }
        padding: 15px;
        margin: 15px;
    }
    
}
.nav-menu{
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    width: 50px;
    height: 50px;
    color: #fff;
}
.sub-body{
    padding: 15px;
    margin: 15px;
    background: rgba(0, 0, 0, 0.5);
    p{
        color: #fff !important;            
    }
}
.main-body{
    padding: 0 100px;
    p{
        text-align: center;
        margin: 0;
        padding: 5px;
        color: #fff !important;
    }
}
.fourk{
    bottom: 35px;
    left: 35px;
    right: 35px;
    position: absolute;
    z-index: -1;
    .fourk-single{
        background: rgba(0, 0, 0, 0.5);
        margin: 15px;
        padding: 15px;
        text-align: center;
        img{
            max-height: 75px;
        }
        h1{
            font-size: 20px !important;
            color: #fff !important;
        }
    }
}

//vedio

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('../images/poster.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
button.nav-menu.x-button {
    right: 0;
    top: 0;
}
.menu_desc{
    margin: 0px 0px 0px 10px ;
    font-size: 2.0vw;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0;
    float: right;
  }
  .toggle-menu{
    position: fixed;
    color: #FFF;
    cursor: pointer;
    z-index: 100000;
  }
  .menu_container{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .first_menu{
    margin: 0;
    padding: 0;
  }
  
  .first_menu > li{
    margin:10px 30px 0px 0px;
    padding: 0;
  }
  .sidebar_menu {
    position: fixed;
    right: 50px;
    top: 50px;
    margin-left: 0px;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    transform: translateY(-100%);
    transition: transform 0.6s ease;
  }
  .close{
    position: absolute;
    right: 1vw;
    top: 1vw;
    opacity: 0.7;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease-in-out;
  }
  .close:hover {
    opacity: 1;
  }
  .x-button{
    position: absolute;
    right: 1vw;
    top: 1vw;
    opacity: 0.7;
    cursor: pointer;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
  }
  .x-button:hover {
    opacity: 1;
  }
  .boxed-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    display: inline-block;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #FFF;
    text-align: center;
    margin-top: 3.0vw;
    font-size: 2.0vmin;
  }
  .logo_bold{
    font-weight: 900;
  }
  .navigation_item{
    margin-right: 0px;
    color: #FFF;    
    margin-top: 5px;
    background: rgba(0,0,0,0.7);
    padding: 5px 10px;
    
  }
  .navigation_selection > li{
     position: relative; 
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 1.6vw;
     a{
         color: #fff !important;
         text-decoration: none;
     }
  }
  .navigation_selection > li:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 0;
      transition: width 0s ease, background 0.6s ease;
  }
  .navigation_selection > li:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 3px;
      width: 0;
      background: #FFFFFF;
      transition: width 0.6s ease;
  }
  .navigation_selection > li:hover:before {
      width: 100%;
      background: #FFFFFF;
      transition: width 0.6s ease;
  }
  .navigation_selection > li:hover:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease;
  }
  .navigation_selection{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-top: 50px;
  }
  .sidebar_menu.open{
    transform: translateY(0);
    transition: transform 0.6s ease;
  }
  .right{
    transform: translateX(20%);
    transition: transform 0.6s ease;
  }
  .left{
    transform: translateX(0);
    transition: transform 0.6s ease;
  }
  .outer_wrapper{
    overflow: hidden;
  }
  /* close button styling*/
   